*{
  padding: 0;
  margin: 0;
  font-family: Arial;
  }
div {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  }
h1, .img {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  }
h4, .box1 {
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  margin-top: 20px;
  margin-bottom: 20px;
  }
ul {
  margin-top: 20px;
  margin-bottom: 20px;
  }
ul li {
  width: 260px;
  margin: 0 auto;
  }
hr {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  }
